@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('ttf');   
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/SourceSerifPro-Regular.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/SourceSerifPro-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-display: swap; 
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/SourceSerifPro-Bold.ttf') format('ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('/fonts/SourceSerifPro-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic; 
  font-display: swap; 
}